.additional__title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @font-primary;
  color: @color-tertiary;
}

.additional__additional-cards {
  margin: 0;
  padding: 0;
}
