.button {
  display: inline-block;
  padding: 10px 26px;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-primary;
  text-align: center;
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;
  background: @color-primary;
  border: none;
  cursor: pointer;

  &:not(&--small) {
    @media @tablet-desktop {
      padding: 14px 26px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &:hover {
    background-color: @color-dark-green;
  }

  &:active {
    color: rgba(255, 255, 2557, 0.3);
    background-color: @color-dark-green;
  }

  &--secondary {
    color: @basic-color;
    background-color: @color-white-gray;

    &:hover,
    &:active {
      color: @basic-color;
      background-color: @color-line-wrapper;
    }
  }
}
