.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-primary;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  line-height: 20px;
}
