.field {
  box-sizing: border-box;
  width: 100%;
  min-height: 45px;
  padding: 14px 12px;
  font: inherit;
  text-transform: uppercase;
  background-color: @color-white;
  border: none;

  &--multiline {
    min-height: 150px;
  }
}
