.field-group {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  font-size: 16px;
  line-height: 18px;
  font-family: @font-primary;
  text-transform: uppercase;
  gap: 14px;

  @media @tablet-desktop {
    font-size: 20px;
    line-height: 29.64px;
    gap: 13px;
  }
}

.field-group__field {
  &--multiline {
    grid-column: 1 / -1;
    margin-bottom: -4px;
  }
}
