.footer {
  &--gray {
    background-color: #f2f2f2;
  }
}

.footer__contacts {
  .container ();
  padding-top: 27px;
  padding-bottom: 25px;
}

.footer__map {
  padding-bottom: 24px;
}

.footer__logo-wrapper {
  display: grid;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-block: 14px;
}
