.footer {
  background-color: @color-white-gray;
}

.footer__container {
  .container();
  display: grid;
  align-items: center;
  gap: 20px;
  padding-block: 40px;

  @media @tablet-desktop {
    grid-template-columns: repeat(3, 1fr);
    padding-block: 56px;
  }

  @media @desktop {
    padding-block: 68px;
  }
}

.footer__logo {
  @media @mobile {
    justify-self: center;
  }

  &:hover {
    color: @color-black-gray;
  }
}

.footer__social-links {
  margin: 0;
}

.footer__logo-htmlacademy {
  margin: 0;

  @media @tablet-desktop {
    justify-self: end;
  }
}
