.form__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-family: @font-primary;
  color: @color-tertiary;
  text-transform: none;
}

.form__field-group {
  margin: 0;
}

.form__fieldset {
  display: grid;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 18px;
  font-family: @font-primary;
  text-transform: uppercase;
  border: none;
  gap: 22px;
}

.form__options {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 15px 0 25px;

  &--checkbox {
    margin-top: -14px;
    padding: 0;
  }
}

.form__footer {
  display: grid;
  padding-top: 11px;
  gap: 21px;
  padding-bottom: 31px;
}

.form__text {
  margin: auto;
}
