
.main-container {
  display: grid;
  gap: 20px;
}

.main-container__title {
  font-size: 36px;
  line-height: 36px;
  font-family: @font-primary;
}

.main-container__programs {
  .container ();
  display: grid;
  padding: 0;
  gap: 20px;
}
