.options {
  display: grid;
  list-style: none;
  gap: 11px;

  &--radio::before {
    .mobile-line();
  }

  &--radio::after {
    .mobile-line();
    bottom: 0;
  }
}

.options__item {
  display: grid;
  gap: 10px;
}
