.page-container {
  position: relative;
  padding-top: 27px;

  &::before {
    .mobile-line();
    top: -1px;
  }
}

.page-container__title {
  margin: 0 0 42px;
}

.page-container__text {
  margin: 0 0 41px;
  line-height: 18px;
  font-family: @font-primary;
  color: @color-tertiary;
  text-transform: uppercase;
}

.page-container__title + .page-container__text {
  margin-top: -4px;
}

.page-container__product-cards {
  margin: 0;
  padding: 0;
}

.page-container__present {
  margin-block: 35px;
}
