.page-body__firstscreen {
  position: relative;
  min-height: 367px;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 175px;
    left: 0;
    z-index: -1;
    background-image: @gradient-green, url("../img/cat-green.png");
    background-repeat: no-repeat;
    background-position: 0 0, 50% 100%;
  }

  @media @tablet-desktop {
    &::before {
      content: none;
    }

    @media @desktop {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: -52px;
        left: 720px;
        z-index: -1;
        background-image: @gradient-green, url("../img/cat-green-desktop.png");
        background-repeat: no-repeat;
        background-position: 0 0, 50% 100%;
      }
    }
  }
}

.page-body__inner {
  .container ();

  &--narrow {
    @media @tablet {
      padding-inline: 70px;
    }
  }

  @media @desktop {
    padding-inline: 110px;
  }
}

.page-body__program {
  .container();

  @media @tablet-desktop {
    padding-left: 29px;
  }
}
