.page-header {
  .container();
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 33px 101px 24px;
  min-height: 65px; // убрать когда будет лого с картинкой
  padding-top: 13px;
  padding-bottom: 14px;
  gap: 20px;

  @media @tablet-desktop {
    grid-template-columns: 60px 101px 1fr;
    min-height: 100px; // убрать когда будет лого с картинкой
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media @desktop {
    min-height: 169px; // убрать когда будет лого с картинкой
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.page-header__humburger {
  @media @mobile {
    position: relative;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      left: -1px;
      width: 24px;
      height: 24px;
      background-image: url("../img/humburger.svg");
    }
  }

  @media @tablet-desktop {
    display: none;
  }
}

.page-header__main-nav {
  @media @tablet-desktop {
    margin-top: 2px;
    margin-right: 4px;
  }

  @media @desktop {
    max-width: 50%;
    margin-right: 0;
  }
}

.page-header__logo-image {
  display: block;
}
