.present {
  position: relative;
  padding: 186px 50px 44px;
  color: @color-white;
  background-image: @gradient-green, url("../img/cat-green-2.png");
  background-repeat: no-repeat;
  background-position: 0 0, 97% 100%;

  &::before {
    content: "";
    position: absolute;
    top: 57px;
    right: 100px;
    width: 80px;
    height: 83px;
    background-image: url("../img/gift.svg");

    @media @tablet-desktop {
      top: 57px;
      right: 0;
      left: 78px;
    }

    @media @desktop {
      top: 58px;
      right: 81px;
      left: 84px;
    }
  }

  @media @tablet {
    padding: 70px 125px 70px calc(100% - 286px);
    background-image: @gradient-green, url("../img/cat-green-2-tablet.png");
  }

  @media @desktop {
    padding-inline: 40px;
  }
}

.present__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media @tablet {
    text-align: start;
  }
}
