.present {
  position: relative;
  min-height: 290px;
  background-image: @gradient-green, url("../img/cat-green-2.png");
  background-repeat: no-repeat;
  background-position: 0 0, 50% 100%;
  padding-inline: 50px;
}

.present__text {
  margin: 0;
  padding-top: 186px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @color-white;
}
