.product-cards {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before {
    .mobile-line(@color-lightestgray);
    top: 0;
  }

  @media @tablet-desktop {
    display: grid;
  }
}

.product-cards__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 22px;
  padding-bottom: 24px;

  &--secondary {
    grid-template-columns: 1fr;
    padding-top: 65px;
    text-align: center;
  }

  &::after {
    .mobile-line(@color-lightestgray);
    bottom: 0;
  }

  @media @tablet-desktop {
    display: block;
    padding-top: 39px;
    padding-bottom: 39px;
    background-color: transparent;
    background-image: linear-gradient(transparent 110px, @color-number-gray 99px);
    padding-inline: 37px;
  }

  @media @desktop {
    padding-inline: 38px;
    padding-bottom: 40px;
  }
}

.product-cards__image {
  grid-row: span 3;

  @media @tablet {
    padding-inline: 40px;
    margin-bottom: 20px;
  }

  @media @desktop {
    margin-bottom: 9px;
  }
}

.product-cards__wrapper {
  display: grid;
  grid-template-columns: 76px auto;

  @media @tablet-desktop {
    display: contents;
  }
}

.product-cards__title {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @font-primary;
  text-transform: uppercase;

  &--secondary {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  @media @tablet-desktop {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-inline: 46px;
  }

  @media @tablet-desktop {
    &--secondary {
      padding-top: 233px;
      padding-bottom: 4px;
    }
  }

  @media @desktop {
    margin-bottom: 24px;
    padding-inline: 10px;

    &--secondary {
      padding-top: 221px;
      padding-bottom: 1px;
    }
  }
}

.product-cards__params {
  display: grid;
  grid-column: 1/-1;
  margin: 0;

  @media @tablet {
    gap: 6px;
  }

  @media @desktop {
    padding-bottom: 5px;
    border-bottom: 1px solid @color-gray;
    gap: 6px;
  }
}

.product-cards__param {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  line-height: 16px;
  gap: 20px;

  @media @tablet-desktop {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid @color-gray;
  }

  @media @desktop {
    &:last-child {
      border: none;
    }
  }
}

.product-cards__value {
  justify-self: end;
  margin: 0;
}

.product-cards__button {
  grid-column: 1/-1;
  margin-top: 16px;

  @media @tablet-desktop {
    display: grid;
    justify-content: center;
    margin-top: 32px;
    font-size: 16px;
    line-height: 20px;
    padding-block: 10px;
  }
}

.product-cards__text {
  margin: 0;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 16px;

  @media @tablet-desktop {
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 18px;
    padding-inline: 20px;
  }

  @media @desktop {
    padding-bottom: 60px;
    padding-inline: 0;
  }
}
