.site-list {
  padding: 0;
  list-style-type: none;

  @media @tablet-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }

  @media @desktop {
    gap: 33px;
  }
}

.site-list__link {
  display: block;
  padding: 23px;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  @media @mobile {
    border-bottom: 1px solid @color-line-wrapper;
  }

  @media @tablet-desktop {
    padding: 9px 0 7px;
    border-bottom: 2px solid transparent;
  }

  @media @desktop {
    padding: 8px 0 6px;
  }

  &--active {
    @media @tablet-desktop {
      border-color: var(--nav-color, @color-primary);
    }
  }
}
