.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media @tablet-desktop {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.mobile-line(@color: @color-gray) {
  @media @mobile {
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    height: 1px;
    background-color: @color;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
