

@color-white: #ffffff;
@color-primary: #68b738;
@basic-color: #444444;
@color-tertiary: #000000;
@color-fourth: #eaeaea;
@font-basic: "Lato", sans-serif;
@font-primary: "Oswald", sans-serif;
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1280px)";
@mobile: ~"(max-width: 767px)";
@color-primary-85: rgba(104, 183, 56, 0.85);
@gradient-green: linear-gradient(@color-primary-85, @color-primary-85);

